{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <br />
<h2 align="center">Welcome back, {{ user.username }}.</h2>
     <br />
    <h2> {{ code }} </h2>
    <div align="center"><div class="click-counter" align="center"><div class="cc-number">{{ rows }}</div><img src="static/counter.svg" alt="click counter" class="cc-bg"></div>
    <br />
    <h4 align="center">Do you secretely like one of your class mates?🤫</h4>
    <form method="POST">

  <input type="text" class="inp input-primary" name="click" id="click" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
  <br />
  <div align="center">
    <button type="submit" class="btn button-primary">KLIK!</button>
  </div>
</form>
<div align="center">
    <br/>
    <a>Just some suggestions: </a>
    <br/>
    {% for p in people %}
        <a class="badge rounded-pill bg-secondary text-light" href="https://www.instagram.com/{{ p }}">{{ p }}</a>
    {% endfor %}
</div>
   
  

{% endblock %}
