{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h3 align="center">{{ usr }}'s</br>klik score</h3>

    <div class="click-counter" align="center">
        <div class="cc-number">{{ rows }}</div>
        <img src="static/counter.svg" alt="click counter" class="cc-bg">
    </div>


    {% if user.is_authenticated == False %}

        <div class="cc-subtitle" align="center">
            <a>Want to know your score? </br> Once you sent a klik, we will show you how.</a>
        </div>
            <p align="center">Do you secretely like <b>{{ usr }}</b>? 🤫</p>

    {% if guest %}
        <form method="POST">
        <div align="center">

            <input name="guest" id = "guest" value="{{ guest if guest }}", hidden="True"></input>
            <button type="submit" class="btn button-primary">KLIK!</button>

        </div>
        </form>
    {% else %}


<form method="POST" spellcheck="false">

        <div align="center">  

            <input name="guest" id="guest" placeholder="Your instagram username" class="inp input-primary" value="{{ guest if guest }}"></input>  
            <button type="submit" class="btn button-primary">KLIK!</button>

         </div>
</form>
    {% endif %}



    {% elif  show != 0 %}

<form method="POST" spellcheck="false">
     <div align="center">

            <p>Do you secretely like <b>{{ usr }}</b>? 🤫</p>
            <input name="guest" id="guest" value={{ user.username }} class="inp input-primary", hidden="True"></input>
            <button type="submit" class="btn button-primary">KLIK!</button>
    </div>
</form>

    {% else %}
        <form method="POST" >
    <div align="center">

            <p>You already sent <b>{{ usr }}</b> a klik.</p>
            <button type="button" class="btn button-secondary" onClick="deleteNote({{ click_id }})">REMOVE KLIK</button>
    </div>
        </form>
    {% endif %}


{% if guest %}
    <div class="container" align="center">
        <a>You're clicking as <b>{{ guest }}</b>.</a>
    {% if user.is_authenticated == False %}
        <form action="/forget-me" method="POST">
            <input name="forget" id="forget" value="{{ usr }}" class="inp input-primary", hidden="True"></input>
            <button type="submit" class="btn button-third">Forget me</button>
        </form>
    {% endif %}
    </div>
{% endif %}




{% endblock %}
