{% extends "base.html" %} {% block title %}Verify{% endblock %} {% block content
%}

<h3 align="center">Welcome aboard!</h3>
    <div align="center"><iframe src="https://giphy.com/embed/5L57f5fI3f2716NaJ3" width="90%" height="auto" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/yes-rdj-i-approve-wvrn7MMemcOB2">via GIPHY</a></p>
</div>
    <div align="center" >
        <p>On klik everyone exists, even before they know it! However, in order to see if one has matched with another user, a pass is required.</p>
    </div>
    <div align="center" >
    </br> </br> <h4 align="center" style="padding-bottom: 10px">To receive your pass, please follow the following steps:</h4>
    <p>At the bottom of the screen, you should see a button like this: </p>
    <div><img src="{{  url_for("static", filename="send-icon.svg")}}" alt="send icon" width="40px" style="padding-bottom: 10px"></div>
    <p>Tap the button and search for Klik</p>
    <p>Share this site with us</p>
</div>
{% endblock %}
